    <div class="card mb-6">
        <div class="card-image">
        </div>
        <!-- content -->
        <div class="columns">
            <!-- left -->
            <div class="is-100px">
                <div class="card-content is-primary">
                    <!-- upvote -->
                    <form action="/<%=post._id%>/upvote?_method=PUT" method="POST">
                            <button class="button">
                                <ion-icon name="arrow-up-circle" size="large" style="color: hsl(217, 71%, 53%)"></ion-icon>
                            </button>
                    </form>

                    <!-- vote count -->
                    <div class="upvote ml-2 mb-2">
                        <p class="subtitle has-text-black-ter"><%=post.votes%></p>
                    </div>

                    <!-- downvote -->
                    <form action="/<%=post._id%>/downvote?_method=PUT" method="POST">
                            <button class="button">
                                <ion-icon name="arrow-down-circle" size="large" style="color: hsl(348, 100%, 61%)"></ion-icon>
                            </button>
                    </form>
                </div>
            </div>

            <!-- right -->
            <div class="column is-rest">
                <div class="card-content is-primary">
                    <a href="/<%=post._id%>">
                        <p class="title"><%=post.title%></p>
                    </a>
                </div>
            </div>
        </div>


        <!-- footer -->
        <div class="card-footer">
            <div class="card-footer-item">
                <a href="/<%=post._id%>"><%=post.numComments%> comments (reply)</a>
            </div>
            <a href="#" class="card-footer-item">Save</a>


        </div>
    </div>
