    <div class="card mb-6">
        <div class="card-image">
        </div>
        <!-- content -->
        <div class="columns">
            <!-- left -->
            <div class="is-100px">
                <div class="card-content is-primary">
                    <!-- upvote -->
                    <form action="/<%=post._id%>/showpost/upvote?_method=PUT" method="POST">
                            <button class="button">
                                <ion-icon name="arrow-up-circle" size="large" style="color: hsl(217, 71%, 53%)"></ion-icon>
                            </button>
                    </form>

                    <!-- vote count -->
                    <div class="upvote ml-2 mb-2">
                        <p class="subtitle has-text-black-ter"><%=post.votes%></p>
                    </div>

                    <!-- downvote -->
                    <form action="/<%=post._id%>/showpost/downvote?_method=PUT" method="POST">
                            <button class="button">
                                <ion-icon name="arrow-down-circle" size="large" style="color: hsl(348, 100%, 61%)"></ion-icon>
                            </button>
                    </form>
                </div>
            </div>

            <!-- right -->
            <div class="column is-rest">
                <!-- title -->
                <header class="card-header">
                    <p class="title pl-4"><%=post.title%></p>
                    <!-- edit button -->
                    <a href="/<%=post._id%>/edit">
                        <ion-icon name="create-outline" size="small"></ion-icon>
                    </a>
                </header>
                <!-- body -->
                <div class="card-content">
                    <p class="content has-text-black-ter"><%=post.body%></p>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="card-footer">
            <div class="card-footer-item">
                <a href="/<%=post._id%>"><%=post.numComments%> comments (reply)</a>
            </div>
            <a href="#" class="card-footer-item">Save</a>

            <!-- delete -->
            <form action="/<%=post._id%>?_method=DELETE" method="POST">
                    <button class="button">
                        <ion-icon name="trash-outline" size="large""></ion-icon>
                    </button>
            </form>
        </div>
    <!-- end card -->
    </div>
