<!DOCTYPE html>
<html lang="en" dir="ltr" class="has-background-white-ter has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <title>Edit: <%=post.title%></title>
        <%- include ('./partials/head.ejs') %>

    </head>
    <%- include ('./partials/navbar.ejs') %>

    <body class="container">
        <p class="title">Edit post:</p>





        <form action="/<%=post._id%>?_method=PUT" method="POST">
            <!-- Title textbox grayed out. Title cannot be edited, design choise -->
            <fieldset disabled>
                <div class="field">
                    <label class="label">Title:</label>
                    <div class="control">
                        <input class="input is-large" type="text" name="title" value="<%=post.title%>" placeholder="title"/>
                    </div>
                </div>
            </fieldset>
            <div class="field">
                <label class="label">Text:</label>
                <div class="control">
                    <!-- <input class="input" type="text" name="body" placeholder="min 100 characters"/> -->
                    <textarea class="textarea" type="text" name="body"><%=post.body%></textarea>


                </div>
            </div>
            <div class="field">
                <input type="submit" name="" value="Submit"/>
            </div>
        </form>
    </body>
</html>
