<!DOCTYPE html>
<html lang="en" dir="ltr" class="has-background-white-ter has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <title>Post: <%=post.title%></title>
        <%- include ('./partials/head.ejs') %>
    </head>
    <%- include ('./partials/navbar.ejs') %>
    <body class="container">
        <a href="/new">Create Post</a>
        <br>
        <br>
        <br>
        <%- include('./partials/postShow.ejs') %>
        <%- include ('./partials/ionicons_script.ejs') %>
    </body>
</html>
