<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Post: <%=post.title%></title>
    </head>
    <%- include ('./partials/navbar.ejs') %>

    <body>
        <h1><%=post.title%></h1>
        <p><%=post.body%></p>

        <div class="vote">
            <p>Votes: <%=post.votes%></p>

        </div>



        <!-- Edit post -->
        <a href="/<%=post._id%>/edit">Edit</a>

        <!-- Delete post -->


        <p><%=post%></p>
<form action="/<%=post._id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE">
</form>


        <!-- Delete -->

    </body>
</html>
